@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
.card {
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 320px;
    height: 340px;
    border-radius: 15px; 
  }
 
.card:hover {
    box-shadow: 0 14px 20px 0 rgba(0,0,0,0.2);
  }
  .card-text {
    margin: 20px 20px 20px 20px;
    font-size: 15px;
  }

.card-text1 {
    margin: 20px 20px 20px 20px;
    font-size: 17px;
  }
.card-text2 {
    margin: 20px 20px 20px 20px;
    font-size: 13px;
    color:rgba(131, 128, 128, 0.822) ;
  }
.card-title{
  font-size: 20px;
  margin: 20px 20px 20px 20px;
} 
.progress{
  width:60%;
}
.icons{
  color: #28347c;
}
